@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --background: #0a0a0a;
  --foreground: #FEFEFE;
  --primary: #66ABFC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FEFEFE;
    --primary: #66ABFC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', 'Inter', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-primary: 40 120 242;
    /* #2878F2 */
    --color-accent: 164 210 251;
    /* #A4D2FB */
    --color-foreground: 254 254 254;
    /* #FEFEFE */
    --color-background: 0 0 0;
    /* #000000 */
    --color-blue-accent: 36 60 230;
    /* #243CE6 */
  }
}

/*
@layer components {

  .btn {
    @apply rounded-xl px-3 py-1.5 sm:px-5 sm:py-2 text-sm sm:text-base font-medium transition-all duration-200;
  }

  .btn-primary {
    @apply btn bg-primary text-white hover:bg-primary/90;
  }

  .gradient-bg {
    @apply bg-[radial-gradient(50%_50%_at_50%_50%,_rgb(var(--color-primary)/0.6)_0%,_rgba(50,15,133,0)_100%)];
  }

  .heading-large {
    @apply text-2xl sm:text-3xl md:text-4xl font-black tracking-widest;
  }

  .heading-xl {
    @apply text-3xl sm:text-4xl md:text-5xl font-black;
  }
} */
